/testsrv
/stamp-h1
.dirstamp
.dirs
/missing
/m4
/ltmain.sh
/libtool
/install-sh
/depcomp
/configure
/config.sub
/config.status
/config.log
/config.h.in
/config.h
/config.guess
/compile
/clz
/autom4te.cache
/aclocal.m4
/Makefile.in
/Makefile
